*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fefefe;
  color: #333;
}

.column {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Header, .Footer {
  background: #eee;
  padding: 1rem 0;
  width: 100vw;
}

main {
  background: #fefefe;
  height: 100%;
  padding: 1rem 0;
  width: 100vw;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.functionsContainer {
  display: flex;
  padding: 0.5rem 0;
  
  button {
    margin: 0 0.5rem;
    padding: 0.5rem;
  }
  
}

.attributesMenu {
  display: flex;
  flex-direction: column;

  i.fas {
    margin-bottom: 1rem
  }
  
  .atrributeInputs{
    display: flex;
  }
  
  .column {
    padding: 0 0.5rem;
  }
  
  label {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
  }
  
  input {
    width: 2rem;
  }
  
  .drawAttributesButton {
    margin: 0.5rem;
  }
    
}

