*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  color: #333;
  width: 100vw;
}

.App {
  text-align: center;
}

.Header, .Footer {
  background: #eee;
}

.Main {
  background: #fefefe;
}